<!DOCTYPE html>
<html lang="en">
<head th:insert="base :: cabecera">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del empleado</title>
    
<body>
    <div class="container">
        <h1>Detalles del empleado</h1>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold">Nombre de la persona: </div>
                    <p th:text="${persona.nombre} + ' ' + ${persona.apellido}"></p>

                </div>
            </li>  
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div class="fw-bold">Pais: </div>
                    <p th:text="${persona.pais.nombre}"></p>
                </div>
            </li> 
        </ul>
        <br>
        <div>
            <a class="btn btn-primary" th:href="@{/listar}">Volver</a>
        
            <a class="btn btn-primary" th:href="@{/alta/} + ${persona.Id}">Modificar persona</a>
        </div>
    </div>
    <script th:replace="base :: script"></script>
</body>
</html>