<!DOCTYPE html>
<html lang="en">

<head th:insert="base :: cabecera">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personas</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-8">
                    <h1>Listado de personas</h1>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary w-50 m-auto" th:href="@{/alta/0}" role="button">Añadir persona</a>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="persona : ${personas}">
                        <td th:text="${persona.nombre}"></td>
                        <td th:text="${persona.apellido}"></td>
                        <td><a class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                th:value="${persona.nombre} + ' ' + ${persona.apellido} + ';' + ${persona.Id} + ';' + ${persona.foto} + ';' + ${persona.pais.nombre}">Detalle</a>
                        </td>
                        <td><a class="btn btn-outline-danger" th:href="@{/borrar/} + ${persona.Id}">Borrar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row">

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Detalles de la persona</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card" style="width: auto;">
                                <img class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <a class="btn btn-primary">Modificar persona</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script th:replace="base :: script"></script>
    <script>
        const exampleModal = document.getElementById('exampleModal')
        exampleModal.addEventListener('show.bs.modal', event => {
            // Button that triggered the modal
            const button = event.relatedTarget
            // Extract info from data-bs-* attributes
            const recipient = button.getAttribute('value')
            // If necessary, you could initiate an AJAX request here
            // and then do the updating in a callback.
            //
            // Update the modal's content.
            const modalCardImage = exampleModal.querySelector('.card-img-top')
            const myArray = recipient.split(";");
            const modalCardTitle = exampleModal.querySelector('.card-title')
            const modalCardText = exampleModal.querySelector('.card-text')
            const modalCardbutton = exampleModal.querySelector('.modal-footer a')


            const url = "/alta/" + myArray[1]
            // modalTitle.textContent = `New message to ${recipient}`
            modalCardTitle.textContent = myArray[0]
            modalCardImage.setAttribute("src", "/images/" + myArray[2])
            modalCardText.textContent = `Pais: ${myArray[3]}`
            modalCardbutton.setAttribute("href", url)

        })
    </script>
</body>

</html>